<body>

    <h1> Edit Store </h1>
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form action=<%= "/stores/edit/"+sid%> method="POST">
                <label>SID: </label>
                <input type="text" name="sid" value="<%= sid %>" readonly><br>
                <label>Location: </label>
                <input type="text" name="location"><br>
                <label>Manager ID: </label>
                <input type="text" name="mgrid"><br>
                <input type="submit" value="Add">
            </form>
            <a href="/">Home</a>
 </body>